body {
  > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    text-align: center;
    padding: 3px 0;
    font-size: 14px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .2);
    background: var(--bs-body-bg);

    a {
      text-decoration: none;
    }

    @include media-breakpoint-up(sm) {
      padding: 6px 0;
    }
  }
}