body {
  > nav.navbar + .alert-container {
    top: 76px;
  }

  nav {
    .offcanvas-size-xl {
      --#{$prefix}offcanvas-width: min(95vw, 600px) !important;
    }

    .offcanvas-size-xxl {
      --#{$prefix}offcanvas-width: min(95vw, 90vw) !important;
    }

    .offcanvas-size-md { /* add Responsivenes to default offcanvas */
      --#{$prefix}offcanvas-width: min(95vw, 400px) !important;
    }

    .offcanvas-size-sm {
      --#{$prefix}offcanvas-width: min(95vw, 250px) !important;
    }
  }
}