.dt-scroll-head, .dt-scroll-body {
  table {
    margin-bottom: 0;

    min-width: 100%;
  }
}

.dt-scroll-body table {
  thead tr {
    height: 0;
    line-height: 0;
    opacity: 0;

    th {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  tbody tr {
    td {
      position: relative;

      .input {
        min-width: calc(100% - 30px);
        background-color: inherit;
        box-shadow: inherit;
        border: none;

        &[disabled], &.disabled {
          color: inherit !important;
        }
      }

      .btn {
        display: none;
        cursor: pointer;
        float: right;
      }

      &.editing {
        .btn {
          display: inline-block;
        }
      }

      &.editable {
        .input {
          min-width: 100%;
        }
      }

      &:not(.editable) {
        .input {
          &:hover, &:focus {
            position: absolute;
            z-index: 1;
          }

          &:focus {
            z-index: 2;
          }
        }
      }
    }
  }
}