<nav class="navbar bg-primary navbar-expand-lg fixed-top shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler position-absolute" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
{#        <a class="navbar-brand text-center ms-auto" href="{{ path('index_index') }}">#}
{#            <img src="{{ asset('images/logo.jpg') }}" class="img-nav" alt="">#}
{#        </a>#}
        <a class="navbar-brand text-center me-auto me-lg-3" href="{{ path('index_index') }}">
            {{ app.request.server.get('PAGE_NAME') }}
        </a>
        <div class="offcanvas offcanvas-size-sm offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary{% if app.request.attributes.get('_route') == 'index_index' %} active{% endif %}"
                           href="{{ path('index_index') }}">Strona główna</a>
                    </li>
                </ul>
                <ul class="navbar-nav d-flex">
{#                    {% if is_granted('ROLE_ADMIN') %}#}
{#                        <li class="btn-group">#}
{#                            <a href="{{ path('admin_index_index') }}" class="nav-link btn btn-primary">Admin</a>#}
{#                            <button type="button" class="nav-link btn btn-primary dropdown-toggle dropdown-toggle-split"#}
{#                                    data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                <span class="visually-hidden">Toggle Dropdown</span>#}
{#                            </button>#}
{#                            <ul class="dropdown-menu dropdown-menu-end">#}
{#                                <li>#}
{#                                    <a class="dropdown-item{% if app.request.attributes.get('_route') == 'admin_index_index' %} active{% endif %}"#}
{#                                       href="{{ path('admin_index_index') }}">Add new tiles</a></li>#}
{#                                <li>#}
{#                                    <a class="dropdown-item{% if app.request.attributes.get('_route') == 'admin_index_tiles' %} active{% endif %}"#}
{#                                       href="{{ path('admin_index_tiles') }}">Manage tiles</a></li>#}
{#                                <li>#}
{#                                    <a class="dropdown-item{% if app.request.attributes.get('_route') == 'admin_index_settings' %} active{% endif %}"#}
{#                                       href="{{ path('admin_index_settings') }}">Settings</a></li>#}
{#                                <li>#}
{#                                    <hr class="dropdown-divider">#}
{#                                </li>#}
{#                                <li><a class="dropdown-item" href="{{ path('admin_logout') }}">Log out</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    {% endif %}#}
                </ul>
            </div>
        </div>
    </div>
</nav>