@include color-mode(dark) {
  --bs-body-bg: #{$body-bg};
}

body {
  > .alert-container {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 1050;
    width: 500px;
    max-width: 100%;

    .alert {
      cursor: pointer;

      &:last-of-type {
        margin-bottom: 0!important;
      }
    }
  }

  > .root {
    padding-top: 60px;
    padding-bottom: 35px;
  }
}