{% extends 'base.html.twig' %}

{% block rootClass %}data{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-1 mt-md-2">
            <div class="col-12">
                <h1 class="text-center">{{ tableName|slice(0, 1)|upper ~ tableName|slice(1) }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped" data-table="{{ tableName }}">
                    <thead>
                    <tr>
                        {% for columnData in columnNames %}
                            <th>{{ columnData.fieldName }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
