{% extends 'base.html.twig' %}

{% block rootClass %}index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <h1 class="text-center">Strona główna</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            {% for tableName in tables %}
                <div class="col-6 col-md-4 col-lg-3">
                    <a href="{{ path('index_table', {tableName}) }}" class="card">
                        <span class="card-body d-flex align-items-center justify-content-center">
                            <span class="h5 card-title">{{ tableName|slice(0, 1)|upper ~ tableName|slice(1) }}</span>
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
